{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">User Dashboard</h1>
                <p class="lead">Manage your account</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Dashboard</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome {{ user.username }}</h2>
                {% if user %}
                    <p>Here are events your are hosting</p>
                    {% for event in events %}
                        {% if user.username == event.host %}
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">{{event.title}}</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> 
                                {{event.title}}
                            </p>
                        </div>
                        {% endif %}
                    {% endfor%}
                
                {% else %}
                    <p>You have not hosted any events</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}